<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is based on a the Rails Tutorial that Cloud 9 uses.
</p>
<p>
    I copied this from the book and then wrote this line because I'm funny and this is funny.
</p>