<% provide(:title, "About") %>

	<aside id="fh5co-hero" style="background-image: url(images/fuji_00.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>About Us<span></span></h2>
								<h1>WeLuv2Travel</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	
<div id="fh5co-main">

				<section>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="fh5co-uppercase-heading-sm text-center">Start Your Travel Planning Here</h2>
							</div>
							<div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
								<h1 class="h1 fh5co-heading fh5co-no-margin-bottom">About Us</h1>
								<div class="fh5co-spacer fh5co-spacer-sm"></div>
								<h4 class="h5 fh5co-heading-sub">
								  <p>We are a global tech agency focused on making online travel booking cheaper, faster, and better. Your next travel experience is just a few clicks away. WeLuv2Travel.net operates in partnership with travel agencies to facilitate the online booking experience. No need to worry about last minute booking. Your everyday low prices are all here. </p>
								  <p>WeLuv2Travel’s agency partners introduce new are interesting travel packages to the site every day. Travel packages can be further decomposed with specific search criteria of interest to users. WeLuv2Travel appreciates customer opinion based on personal interests and hobbies to facilitate customer satisfaction.</p>
								  <p>Our website provides users with a social networking facility to enhance their travel experience. Not only will this provide customers with an experience that is cheaper, but customers will have an enjoyable experience. Our website focuses on connecting our customers with their family, friends, colleagues, etc., so they can travel together. Customers can view people in their profile on their friends list and browse their profiles as well. Customers are encouraged to use our messaging system to communicate with their friends which functions similar to email. </p>
								  <p>Create an account with us today to explore all that WeLuv2Travel has to offer. Browse our travel packages to get the most out of your travel experience today. We appreciate any feedback on how we can enhance your future travel planning experience.</p>
								  <p>Btw, none of this is real.</p>
								</h4>
								<div class="fh5co-spacer fh5co-spacer-sm"></div>
							</div>
							
						</div>
						<div class="fh5co-spacer fh5co-spacer-sm"></div>
					</div>
				</section>
</div>