<% provide(:title, 'Contact') %>

	<aside id="fh5co-hero" style="background-image: url(images/spinx_-_Roderick_Eime.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Contact<span></span></h2>
								<h1>Reach Out to Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	
<div id="fh5co-main">
		
					<section>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="fh5co-uppercase-heading-sm text-center">Team Members &amp; other info</h2>
								<div class="fh5co-spacer fh5co-spacer-sm"></div>
							</div>
							<div class="col-md-4">
							  <h3>Team Members</h3>
								<ul>
									<li>Steven Dean Kennedy, Design and Development</li>
									<li>Francesco Butts, Design and Testing</li>
									<li>Deepika Gorre, Design and Testing</li>
									<li>Rachel Osias, Design and Testing</li>
								</ul>
							</div>
              <div class="col-md-8">
								<h3>Assets</h3>
								<ul>
									<li>spinx_-_Roderick_Eime.jpg - http://www.iexplore.com/experiences/world-wonders/seven-Wonders-of-the-World</li>
									<li>china_wall_01_big.jpg - http://www.airpano.com/360Degree-VirtualTour.php?3D=china-great-wall</li>
									<li>travel_airplane - https://www.steripen.com/travel/</li>
									<li>japan-08 - http://cabinflooresoterica.com/image.php?pic=/images/japan/japan-08.jpg</li>
									<li>Theme - http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap</li>
									<li>holi.jpg - Litizen.com</li>
									<li>greece.jpg - LonelyPlanet.com</li>
									<li>explore-8.jpg - http://combiboilersleeds.com</li>
									<li>fuji_00.jpg - courtesy of Jenna Meeks &copy; 2017 </li>
									<li>logo - courtesy of Catherine Austria &copy; 2017 </li>
									<li>sanfran.jpg, chicago.jpg, and copen.jpg courtesy of Douglas Martin </li>
								</ul>
							</div>
							<div class="fh5co-spacer fh5co-spacer-md"></div>
						</div>
													<img src="images/logo_cat.jpg" width=40% height=40% >

					</div>
				</section>
</div>