<div class="center jumbotron">
    <h1>www.WeLuv2Travel.net</h1>
    <h2>Explore.  Dream.  Discover.</h2>
        
    <p><%= image_tag("travel_airplane.jpg", class: "steve-responsive", alt: "Travel") %></p>
    
    <% if !logged_in? %>
        <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary", role:"button" %>
    <% end %>
</div>