

	<!-- START #fh5co-hero -->
	<!--<aside id="fh5co-hero" style="background-image: url(images/hero4.jpg);">-->
	<!--<aside id="fh5co-hero" style="background-image: url(images/travel_airplane.jpg);">-->
	<!--<aside id="fh5co-hero" style="background-image: url(images/Great-Wall-of-China_03.jpg);">-->
	<aside id="fh5co-hero" style="background-image: url(images/china_wall_01_big.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Explore.  Dream.  Discover.<span></span></h2>
								<h1>WeLuv2Travel.net</h1>
							    <% if !logged_in? %>
                                <%= link_to "Sign up now!", signup_path, class:"btn btn-outline btn-lg" %>
                                <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	
<div id="fh5co-main">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-lead-wrap">
					<h2 class="fh5co-serif fh5co-lead">WeLuv2Travel was created for COSC612 at Towson University.  
					It was conceived as an eBay for Travel Agents, and we are proud of the results.
					If you have questions, please <%= link_to "contact us", contact_path %>.  Thank you for visiting our site.</h2>
					<% if !logged_in? %>
                    <p><%= link_to "Sign up now!", signup_path, class:"btn btn-outline btn-lg" %></p>
                    <% end %>
				</div>
			</div>
		</div>

		<section id="fh5co-testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="fh5co-uppercase-heading-sm">Inspiration</h2>
						<div class="owl-carousel-fullwidth fh5co-light-arrow owl-carousel-2">
							<div class="item">
								<blockquote>
									<p class="fh5co-serif">&ldquo;Twenty years from now you will be more disappointed by the things that you didn’t do than by the ones you did do.&rdquo;</p>
									<p class="fh5co-testimonial-author"><cite>&mdash; H. Jackson Brown, Jr.</cite></p>
								</blockquote>
							</div>
							<div class="item">
								<blockquote>
									<p class="fh5co-serif">&ldquo;For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. The great affair is to move.&rdquo;</p>
									<p class="fh5co-testimonial-author"><cite>&mdash; Robert Louis Stevenson</cite></p>
								</blockquote>
							</div>
							<div class="item">
							
								<blockquote>
									<p class="fh5co-serif"><br>&ldquo;Wherever you go, go with all your heart.&rdquo;</p>
									<p class="fh5co-testimonial-author"><cite>&mdash; Confucius</cite></p>
								</blockquote>
							</div>
							
							<div class="item">
								<blockquote>
									<p class="fh5co-serif"><br>&ldquo;The world is a book, and those who do not travel read only a page.&rdquo;</p>
									<p class="fh5co-testimonial-author"><cite>&mdash; Saint Augustine</cite></p>
								</blockquote>
							</div>

							<!-- END .item -->
						</div>
					</div>
				</div>
			</div>
		</section>

</div>