<% provide(:title, @heading) %>

	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/spinx_-_Roderick_Eime.jpg") %>);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Users<span></span></h2>
								<h1><%= @heading %></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	
<div id="fh5co-main">


					<section>
					<div class="container">
						<div class="row">
								<%= render 'shared/flash_messages' if !flash.empty? %>

							<div class="col-md-8">
	              <ul style="list-style-type: none">
	                <%= render @users %>
	              </ul>
							</div>

						</div>
					</div>
				</section>
</div>