<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h1>Congratulations on your purchase!</h1>
  <p>We hope that you enjoy <%= @destination %>!</p>
  
  <p>Your agent will send contact you with further package details.</p>
  <h2>Your confirmation number is WL2T00<%= @confirmation %></h2>
  <p>This site does not process payments, but it would have been handled here.</p>
</div>
</div>