<% provide(:title, 'Edit Package') %>

	<aside id="fh5co-hero" style="background-image: url(<%= asset_path("images/travel_airplane.jpg") %> );">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
								<h2>Create a journey<span></span></h2>
								<h1>Edit Package</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>


<div id="fh5co-main">

		<div class="container">
			<div class="row">

        <h1>Editing Travel Package</h1>
        
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          
        <%= link_to 'Show', @travel_package %> |
        <%= link_to 'Back', travel_packages_path %>
        
        </div></div>
        
        <%= render 'form', travel_package: @travel_package %>
</div>
</div>
</div>

