<h1>New Travel Package</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', travel_packages_path %>
  </div>
</div>

<%= render 'form', travel_package: @travel_package %>

