<br />

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <p><%= image_tag("travel_airplane.jpg", class: "steve-responsive", alt: "Great Wall") %></p>

    <p>Please enter your search criteria.</p>
    <%= form_tag(searchresults_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag("search", nil, class: "form_control input-lg", placeholder:"Enter search") %>
        <%= submit_tag("Go", :name => nil, class: "btn btn-lg btn-primary", role: "button" ) %>
    <% end %>
</div>
</div>