

				<footer id="fh5co-footer">
					<div class="container">

						<p class="text-muted fh5co-no-margin-bottom text-center">
							<small>&copy; May 2017 <%= link_to "Contact", contact_path %> This project is brought to you by Team Cupcake in COSC 612. 
							<a href="http://www.towson.edu/">Towson University</a></small></p>

					</div>
				</footer>